{# SOSVelo/Bundle/TemplateBundle/Resources/views/Template/index.html.twig #}

{% extends '@SOSVeloTemplate/layout.html.twig' %}

{% block title %}SOSVelo !{% endblock %}

{% block noscriptstylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}
    <!-- Banner -->
    <section id="banner">
        <h2>SOSVélo</h2>

        <p>Vous trouvez ici toutes les informations de points SOSVélo</p>

        <form>
            <div class="row uniform 50%">
                <div class="5u -3u 12u(3) align-center">
                    <input type="text" name="search" id="search" placeholder="Rechercher votre point"/>
                </div>
                <div class="1u 4u(3) align-center">
                    <input type="submit" value="Search" class="fit"/>
                </div>
            </div>
        </form>

        <div class="row uniform 0%">
            <div class="8u -1u 12u(2)">
            <span class="image fit">
                <img src="images/map.png">
                </span>
            </div>
            <div class="6u 2u$ 12u(2)">

                <p>asdasdasd</p>


            </div>

            <div class="12u -1u 10u$ owl-carousel">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=1"
                     data-src-retina="http://placehold.it/350x250&text=1-retina" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=2"
                     data-src-retina="http://placehold.it/350x250&text=2-retina" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=3" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=4" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=5" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=6" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=7" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=8" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=9" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=10" alt="">
                <img class="owl-lazy" data-src="http://placehold.it/350x250&text=11" alt="">
            </div>
        </div>


        <br/>
        <ul class="actions">
            <li><a href="#" class="button special">Sign Up</a></li>
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>

    <!-- CTA -->
    <section id="cta">

        <h2>Sign up for beta access</h2>

        <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

        <form>
            <div class="row uniform 50%">
                <div class="8u 12u(3)">
                    <input type="email" name="email" id="email" placeholder="Email Address"/>
                </div>
                <div class="4u 12u(3)">
                    <input type="submit" value="Sign Up" class="fit"/>
                </div>
            </div>
        </form>

    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">SOSVelo</a></li>
        </ul>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').attr('class', 'landing');
        });
    </script>
{% endblock %}