{# SOSVelo/Bundle/TemplateBundle/Resources/views/Template/login.html.twig #}

{% extends '@SOSVeloTemplate/layout.html.twig' %}

{% block title %}SOSVelo ! - Login{% endblock %}

{% block noscriptstylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <!-- Main -->
    <section id="main" class="container">
        <div class="row">
            <div class="12u$ 12u$(2)">
                <!-- Text -->
                <section class="box">
                    <h2 class="align-center">Login</h2>

                    <form method="post" action="uc">
                        <div class="row uniform 50%">
                            <div class="6u -3u">
                                <input type="text" name="name" id="name" value="" placeholder="Name"/>
                            </div>
                        </div>
                        <div class="row uniform 50%">
                            <div class="6u -3u">
                                <input type="email" name="email" id="email" value="" placeholder="Email"/>
                            </div>
                        </div>

                        <div class="row uniform 50%">
                            <!-- Break -->
                            <div class="3u -3u">
                                <input type="radio" id="priority-low" name="priority" checked>
                                <label for="priority-low">Login normal</label>
                            </div>
                            <div class="3u 12u$(3)">
                                <input type="radio" id="priority-normal" name="priority">
                                <label for="priority-normal">Login admin</label>
                            </div>
                        </div>

                        <div class="row uniform 50%">
                            <!-- Break -->
                            <div class="4u$ -4u align-center">
                                <ul class="actions">
                                    <li><input type="submit" value="Login"/></li>
                                    <li><input type="reset" value="Reset" class="alt"/></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row uniform 50%">
                            <div class="4u -4u align-center">
                                <a>Forget your password?</a>
                            </div>
                        </div>

                    </form>
                </section>
            </div>
        </div>
    </section>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#header').attr('class', 'skel-layers-fixed');
        });
    </script>
{% endblock %}