{# SOSVelo/Bundle/TemplateBundle/Resources/views/Template/signin.html.twig #}

{% extends '@SOSVeloTemplate/layout.html.twig' %}

{% block title %}SOSVelo ! - Signin{% endblock %}

{% block noscriptstylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}
    <!-- Main -->
    <section id="main" class="container">
        <div class="row">
            <div class="12u$ 12u$(2)">
                <!-- Text -->
                <section class="box">
                    <h2 class="align-center">Sign up</h2>

                    <form method="post" action="#">
                        <div class="row uniform 50%">
                            <div class="6u -3u align-center">
                                <label>Votre Prénom:</label>
                                <input type="text" name="lastName" id="lastName" value="" placeholder="Votre Prénom"/>
                            </div>
                            <div class="6u -3u align-center">
                                <label>Votre Nom:</label>
                                <input type="text" name="firstName" id="firstName" value="" placeholder="Votre Nom"/>
                            </div>
                        </div>

                        <div class="row uniform 50%">
                            <div class="6u -3u align-center">
                                <label>Votre adresse de mail:</label>
                                <input type="email" name="email" id="email" value="" placeholder="Email"/>
                            </div>
                            <div class="6u -3u align-center">
                                <label>Votre adresse:</label>
                                <input type="text" name="text" id="address" value="" placeholder="Adresse"/>
                            </div>
                        </div>

                        <div class="row uniform 50%">
                            <div class="6u -3u align-center">
                                <input type="checkbox" id="copy" name="copy">
                                <label for="copy">Vous etez un partenaire?</label>
                            </div>
                        </div>

                        <div class="row uniform 50%">
                            <!-- Break -->
                            <div class="4u -4u align-center">
                                <ul class="actions">
                                    <li><input type="submit" value="Sign in"/></li>
                                    <li><input type="reset" value="Reset" class="alt"/></li>
                                </ul>
                            </div>
                        </div>

                    </form>
                </section>
            </div>
        </div>
    </section>

    {% block cta %}
        {#leave empty because we dont need a cta#}
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#header').attr('class', 'skel-layers-fixed');
        });
    </script>
{% endblock %}