{# SOSVelo/Bundle/TemplateBundle/Resources/views/Template/uc.html.twig #}

{% extends '@SOSVeloTemplate/layout_uc.html.twig' %}

{% block title %}SOSVelo ! - Welcome {#TODO username#} {% endblock %}

{% block content %}
    <div class="9u -1u 12u$(2)">
        <h3>Votre compte</h3>

        <form action="#" method="post">
            <div class="row uniform">
                <div class="6u 12u$(4)">
                    <input type="text" placeholder="Username" value="" id="name" name="name">
                </div>
                <div class="6u$ 12u$(4)">
                    <input type="email" placeholder="Email" value="" id="email" name="email">
                </div>
                <div class="6u 12u$(4)">
                    <input type="text" placeholder="Firstname" value="" id="name" name="name">
                </div>
                <div class="6u$ 12u$(4)">
                    <input type="email" placeholder="Lastname" value="" id="email" name="email">
                </div>
                <!-- Break -->
                <div class="12u$">
                    <label>You are a partenaire</label>
                </div>
                <!-- Break -->
                <div class="4u 12u$(3)">
                    <input type="radio" checked="" name="priority" id="priority-low">
                    <label for="priority-low">Low Priority</label>
                </div>
                <div class="4u 12u$(3)">
                    <input type="radio" name="priority" id="priority-normal">
                    <label for="priority-normal">Normal Priority</label>
                </div>
                <div class="4u$ 12u$(3)">
                    <input type="radio" name="priority" id="priority-high">
                    <label for="priority-high">High Priority</label>
                </div>
                <!-- Break -->
                <div class="6u 12u$(3)">
                    <input type="checkbox" name="copy" id="copy">
                    <label for="copy">Email me a copy of this message</label>
                </div>
                <div class="6u$ 12u$(3)">
                    <input type="checkbox" checked="" name="human" id="human">
                    <label for="human">I am a human and not a robot</label>
                </div>
                <!-- Break -->
                <div class="12u$">
                    <textarea rows="6" placeholder="Enter your message" id="message" name="message"></textarea>
                </div>
                <!-- Break -->
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Send Message"></li>
                        <li><input type="reset" class="alt" value="Reset"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
