<div class="2u 12u$(2)">
    <ul class="nav">
        <li><a id="compte" href="uc">Votre Compte</a></li>
        <li><a id="info" href="point.html">Info Point</a></li>
        <li><a id="listamis" href="friends.html">Liste des amis/aderents</a></li>
        <li><a id="normalization-link" href="comments.html">Liste des
                commentaires </a></li>
        <li><a id="listamis" href="usercontact.html">Contacter ADAV</a></li>
        <li><a id="normalization-link" href="messagebox.html">Boître de
                messages</a></li>
    </ul>
</div>